<!DOCTYPE html>
<html mxlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="aboutFragment">
		<link rel="stylesheet" type="text/css" href="/style/about.css">
		<div class="movie_container">
			<video autoplay loop muted playsinline>
				<source src="/img/backmovie.mp4" type="video/mp4">
			</video>
		<div>
			<div class="text_area_title">
				<p>Decoder <Strong>소개</Strong></p>
			</div>
			<div class="text_area_content">
				<div class="text_left">
					<p>Decoder는 인터랙티브 미디어 체험ㆍ제작을 아우르는 복합문화공간입니다.</p>
					<p>프로젝트 의뢰 위주의 미디어 제작을 주로 하였던 우리는 일반 소비자를 위한 활동으로서의 분야를 넓히고</p>
					<p>체험, 제작, 아카데미 등 다양한 활동을 통해 조금 더 쉽게 그리고 가까운 곳에서 만나는 공간을 만들어 보고 싶었습니다.</p>
					<br>
					<p>Decoder가 추구하고 키워나가고자 하는 방향은 다음과 같습니다.</p>
					<br>
					<p>1. 문화와 디지털 예술 영역의 가치와 정체성의 확장</p>
					<p>2. 체험을 통해 만나는 디지털 미디어와 예술 공간</p>
					<p>3. 직접 만들어 보는 디지털미디어의 상상과 그 현실화</p>
					<br>
					<p>Decoder는 놀라움을 바라보는 경험이 아닌 직접 만지며 체험하고, 배워나가는 디지털 놀이 문화공간으로서의</p>
					<p>역할을 하고자 하며 또 그 속에서 모두가 즐겁게 만나는 인연의 공간으로 만들어 나갈 것입니다.</p>
				</div>
				<div class="text_right">
					<div>디지털체험공간. 디코더</div>
					<div>디지털취미관. 디코더그라운드</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
</body>
</html>