<!DOCTYPE html>
<html mxlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="hobbyFragment">
			<link rel="stylesheet" href="/style/hobby.css">
		<div class="hobby_container">
			<section class="hobby_top">
				<div class="hobby_one">
					<div class="title">
						<p>디지털취미관<br>
						디코더그라운드
						</p>
					</div>
					<div class="title_under">
						<p>디코더그라운드는 다양한 분야의 사람들이 모여 재미난 것을 상상하고 제작해보는 모임입니다.
						<br>
						디지털아트, 전자예술을 제작해보는 특별한 취미를 원한다면 지금 디코더그라운드그룹이 되어보세요.
						</p>
					</div>
					<div class="title_down">
						<p>디지털취미관.decoderground</p>
					</div>
				</div>
				<div class="hobby_two">
					<div class="two_top">
						<p>about
							<br>
							디지털취미관.decoder ground
						</p>
					</div>
					<div class="two_mid">
						<p>디지털 취미를 가져보신적 있나요.
							<br>
							그림을 손으로 그려보고 싶지만 붓과 캔버스가 익숙치 않다면 한번 키보드로 그려보는건 어떤가요.
							<br>
							아니면 내가 생각하는대로 움직이는 전자예술 작품을 제작해보세요.
							<br>
							<br>
							디코더그라운드에서는 디지털이 살짝 녹아있는 다양한 취미체험프로그램 들을 소개해보려 합니다.
							<br>
							프로그램은 분기별 바뀌며 매번 다양한 형태로 모집합니다.
							<br>
							<br>
							어쩌면 3d프린터를 접할 수 도 있고, 또 어쩔 땐 레이저커팅 기계를 작동시키나 납땜을 할 수도 있습니다.
							<br>
							장비를 이용한 vr컨텐츠를 직접 만들며 놀아볼수도 있고 혹은 아무런 장비없이 그저 컴퓨터 한대로 열심히 프로그래밍만 할 수도 있습니다.
							<br>
							이곳에서는 디지털 작품을 제작하기 위한 다양한 경험을 합니다. 처음에는 낯설 수도 있지만, 함께 차근차근 즐기다보면 나의 작품이 하나씩 만들어집니다.	
						</p>	
					</div>
					<div class="two_bottom">
						<p>지금 신청해보세요.</p>
					</div>
				</div>
			</section>
			<section class="hobby_mid_sector">
			<div class="mid_top_text">
				<p>| 곧 새로운 모임이 열립니다!</p>
			</div>
			<div class="hobby_mid_text_sec">
				<div>
					<p>
						가벼운 코드를 이용한<br>
						특별한 알람 만들기
					</p>
					<div class="snow_camp">
						<p>snow lamp</p>
					</div>
					<div class="snow_under">
						<p>
							동그란 램프에 날씨 데이터를 이용한 코드를 넣어<br>
							첫눈 오는날 불빛이 울리는 작은 스탠드를 제작해보는 클래스입니다.
						</p>
					</div>
				</div>
					<div class="snow_img_area">
						<img class="mid_source" src="/img/mid-source.jpg">
					</div>	
				</div>
				<div class="table_zone">
						<table style="border-bottom: 2px solid black;">
							<tbody>
								<tr>
									<td>
										<p>
											난이도
										</p>
									</td>
									<td style="padding-left: 10px; padding-right: 10px;">
										<p>
											전자예술 제작에 관심있다면 사전지식 없이도 누구나 가볍게 참여할 수 있는 난이도입니다.&nbsp;&nbsp;&nbsp;
										</p>
									</td>
									<td style="padding-left: 10px;">
										<p>
											6회 과정 240,000
										</p>
									</td>
									<td style="padding-left: 10px;">
										<p>
											그룹인원 8
										</p>
									</td>
								</tr>
							</tbody>
						</table>
						<table>
							<tbody>
								<tr>
									<td>
										<p>
											6 weeks program
										</p>
									</td>
									<td>
										<p style="border-right:0;">
											오후 7:30 - 9:30 / 매주 1회 모임을 가지며 6주간 진행하는 클래스입니다. 월요일과 수요일 중 원하는 참여요일을 선택하여 신청해주세요.<br>
											*신규모집은 코로나19 소규모 모임 자제 권고로 인해 잠정 연기하려합니다. 모집 재개시 SNS로 바로 알려드리도록 하겠습니다.
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="hobby_mid_text_area">
						<p>
							디코더그라운드의 첫번째 프로그램은 첫눈을 알리는 탁상형의 작은 램프만들기입니다.<br>
							평소 작은 소품을 올려놓는 공간으로 사용할 수 있는 이 스탠드는 첫눈이 오는 날 작게 빛이 나기 시작합니다.<br>
							아이디어만 있다면 알람 등 나에게 맞춰진 특별한 기능을 더 추가할수도 있습니다<br>
							반짝이며 첫눈을 알리는 불빛을 내 방 책상위에 만들어 놓아보세요.<br>
							<br>
							<br>
							이번 프로그램은 조금의 납땜 / 날씨 데이터 연동 프로그래밍 / 후가공을 포함한 간단한 제작 등을 배우고 진행합니다.						
						</p>
					</div>
					<div class="hobby_mid_text_bottom">
						<p>
							+ 꼭 확인해주세요<br>
							<br>
							해당 프로그램은 방탈출 제작자를 대상으로 하는 전문적인 학원수업 형태의 공간은 아니며 아무것도 모르시더라도<br>
							저희 디코더의 체험들을 통해 디지털제작이라는 것에 관심을 가지고 한번 직접 경험해보고 싶으신 분들을 위한<br>
							여가와 취미 문화생활의 형태가 더 강합니다. 충분히 프로그램 특성을 인지해주시고 신청해 주시면 감사드리겠습니다.
						</p>	
					</div>
					<div class="hobby_mid_btn_area">
						
					</div>
			</section>
			<section class="hobby_bottom_sector">
			<div class="mid_top_text">
				<p>조금 더 실험적인 사람들의 모임<br>
				제로클래스
				</p>
			</div>
			<div class="hobby_mid_text_sec">
				<div>
					<div class="snow_camp">
						<p>디코더그라운드<br>
						: zero-class
						</p>
					</div>
					<div class="snow_under">
						<p>
							제로클래스는 디코더그라운드 멤버쉽형태로 운영되는 그룹모임입니다.<br>
							비슷한 취미를 가진 다양한 분야의 사람들이 모여 실험적인 예술 프로젝트를 실행합니다.
						</p>
					</div>
				</div>
				</div>
				<div class="table_zone_black">
						<table style="border-bottom: 2px solid white;">
							<tbody>
								<tr>
									<td>
										<p>
											난이도
										</p>
									</td>
									<td style="padding-left: 10px; padding-right: 10px;">
										<p>
											전자예술 제작에 관심있다면 사전지식 없이도 누구나 가볍게 참여할 수 있는 난이도입니다.&nbsp;&nbsp;&nbsp;
										</p>
									</td>
									<td style="padding-left: 10px;">
										<p>
											6회 과정 240,000
										</p>
									</td>
									<td style="padding-left: 10px;">
										<p>
											그룹인원 8
										</p>
									</td>
								</tr>
							</tbody>
						</table>
						<table>
							<tbody>
								<tr>
									<td>
										<p>
											6 weeks program
										</p>
									</td>
									<td>
										<p style="border-right:0;">
											오후 7:30 - 9:30 / 매주 1회 모임을 가지며 6주간 진행하는 클래스입니다. 월요일과 수요일 중 원하는 참여요일을 선택하여 신청해주세요.<br>
											*신규모집은 코로나19 소규모 모임 자제 권고로 인해 잠정 연기하려합니다. 모집 재개시 SNS로 바로 알려드리도록 하겠습니다.
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="hobby_mid_text_area">
						<p>
							디코더그라운드의 첫번째 프로그램은 첫눈을 알리는 탁상형의 작은 램프만들기입니다.<br>
							평소 작은 소품을 올려놓는 공간으로 사용할 수 있는 이 스탠드는 첫눈이 오는 날 작게 빛이 나기 시작합니다.<br>
							아이디어만 있다면 알람 등 나에게 맞춰진 특별한 기능을 더 추가할수도 있습니다<br>
							반짝이며 첫눈을 알리는 불빛을 내 방 책상위에 만들어 놓아보세요.<br>
							<br>
							<br>
							이번 프로그램은 조금의 납땜 / 날씨 데이터 연동 프로그래밍 / 후가공을 포함한 간단한 제작 등을 배우고 진행합니다.						
						</p>
					</div>
					<div class="hobby_mid_text_bottom">
						<p>
							+ 꼭 확인해주세요<br>
							<br>
							해당 프로그램은 방탈출 제작자를 대상으로 하는 전문적인 학원수업 형태의 공간은 아니며 아무것도 모르시더라도<br>
							저희 디코더의 체험들을 통해 디지털제작이라는 것에 관심을 가지고 한번 직접 경험해보고 싶으신 분들을 위한<br>
							여가와 취미 문화생활의 형태가 더 강합니다. 충분히 프로그램 특성을 인지해주시고 신청해 주시면 감사드리겠습니다.
						</p>	
					</div>
				
			</section>
			
		</div>
		
	</div>

</body>
</html>