<!DOCTYPE html>
<html lang="en">  
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>particle test</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script type="module">
  const renderer = new THREE.WebGLRenderer();
    renderer.setSize(window.innerWidth, window.innerHeight);
    renderer.setClearColor(0xffffff, 1);
    document.body.appendChild(renderer.domElement);

    const camera = new THREE.PerspectiveCamera(50, window.innerWidth / window.innerHeight, 0.1, 1000);
    camera.position.set(0, 0, 100);
    camera.lookAt(0, 0, 0);

    const scene = new THREE.Scene();
    const material = new THREE.LineBasicMaterial({ color: 0x000000 });
    const points = [];

    for (let i = 0; i < 13; i++) {
      let randomizeX = Math.random() * 30;
      let randomizeY = Math.random() * 30;
      let randomizeZ = Math.random() * 30;
      points.push(new THREE.Vector3(randomizeX, randomizeY, randomizeZ));
    }

    const geometry = new THREE.BufferGeometry().setFromPoints(points);
    const line = new THREE.Line(geometry, material);
    scene.add(line);
    renderer.render(scene, camera);

    const rotationVector = new THREE.Vector3(0, 0, 0);


    const mouse = new THREE.Vector2();
    const mouseArea = document.getElementById('mouse-area');


    let isMouseInside = false;


    const lastMouse = new THREE.Vector2();
    const rotationSpeed = 0.01;


    mouseArea.addEventListener('mouseenter', () => {
      isMouseInside = true;
      lastMouse.copy(mouse);
    });

    mouseArea.addEventListener('mouseleave', () => {
      isMouseInside = false;
    });


    mouseArea.addEventListener('mousemove', handleMouseMove);

    function handleMouseMove(event) {
      if (isMouseInside) {
        mouse.x = (event.clientX / window.innerWidth) * 2 - 1;
        mouse.y = -(event.clientY / window.innerHeight) * 2 + 1;
      }
    }
  

    function animate() {
      requestAnimationFrame(animate);
  
      if (isMouseInside) {

        const deltaMouse = new THREE.Vector2().subVectors(mouse, lastMouse);
        line.rotation.x += deltaMouse.y * Math.PI * rotationSpeed;
        line.rotation.y += deltaMouse.x * Math.PI * rotationSpeed;
  
        lastMouse.copy(mouse);
      }
  
      renderer.render(scene, camera);
    }
  
    animate();
  </script>
</head>
<body>
  <section>
  <div>
    <div id="mouse-area" class="container" style="display: flex;">
    898988908098
    <br>
    afdfwaefwaf
  </div>
</section>
<section>
  <div>
    asd
  </div>
</section>
</div>
<script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/vendor/three.r119.min.js"></script>
</body>
</html>