@font-face{
	font-family: 'lato';
	src: url('/font/Lato-Bold.ttf');
}
.navbar_right-icon{
    box-sizing: border-box;
    display: block;
    position: relative;
    
}
.bg-body-tertiary{
    background-color: black;
    
}
.navbar-logo{
    max-height: 30px;
    max-width: 100%;
}
.navbar-nav .nav-link {
    font-size: 12px!important;
    font-family: "lato", Arial, sans-serif!important;
    font-weight: 400!important;
}
