@font-face{
	font-family: 'rubato_title';
	src: url('/font/Martel-Black.ttf');
}
@font-face{
	font-family:'nixie-one';
	src:url('/font/NixieOne-Regular.ttf');
}
.canvas_section{
	padding-top: 50px;
	padding-bottom: 120px;
	padding-left: 50px;
	padding-right: 50px;
	background-size: auto;
	background-attachment: scroll;
	background-color: rgba(234,234,234,1);
	display: flex;
}
.canvas_title{
	font-size: 140px;
	font-weight: bolder;
}
.canvas_title_down{
	font-size: 5vmin;
}
.canvas_info_area{
	padding-bottom: 2rem;
}
.canvas_info_area p{
	font-size: 3.7vmin;
	margin-bottom: -5px;
}
.canvas_bottom_area p{
	font-size: 2.2vmin;
	color: #777777;
	margin-bottom: -5px;
	margin-left: 3px;
	
	
}
.main_section_top{
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: auto;
	background-attachment: scroll;
	background-color: rgba(234,234,234,1);
	
}
.main_section_title{
	padding-top: 100px;
	font-size: 40px;
	padding-bottom: 50px;
}
.top_section_content{
	display: flex;
	flex-direction: row;
}
.top_content_left{
	padding-right: 30px;
	text-align: center;
	border-right:1px solid black;
	font-size: 20px;
}
.top_content_right{
	text-align: center;
	padding-left: 30px;
	font-size: 20px;
}
.content_left_title{
	text-align: center;
	font-size: 45px;
	padding-bottom: 15px;
}
.content_right_title{
	text-align: center;
	font-size: 45px;
	padding-bottom: 15px;
}
.main_page_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main_section_content{
    position: relative;
    min-height: 100vh;
}
.content_box{
    background-color: black;
    color: white;
    padding-top: 190px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.theme_information{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 300px;
}
.book_btn{
    border-radius: 0;
    background-color: black;
    color: white;
    border-color: white;
    border-width: 5px;
    border-style: solid;
}
.theme_icon_area{
    display: flex;
    flex-direction: column;
    align-items: center;
width: 100%;
margin-bottom: 30px;
}
.content_box img{
    width: 100%;
    margin-bottom: -30px;
    margin-top: -30px;
}
.book_btn{
    font-size: 12px;
}
.bottom_section{
    display: flex;
    flex-direction: row;
    padding-top: 44px;
    padding-left: 25px;
    padding-bottom: 70px;
}
.bottom_content_left{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
}
.bottom_content_right{
    display: flex;
    flex-direction: column;
    flex: 1;
}
h2{
    font-size: 20px;
}
.bottom_content_left .moving_text_area{
    padding-top:44px;
    padding-bottom: 44px;
    padding-right: 44px;
    font-size: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

@keyframes moving {
    0%,100% {
        transform: translate(0);
    }
    50% {
        transform: translate(240%);
    }
 }
.bottom_content_left .moving_text{
	border: 20px solid black;
	height: 70%;
	box-sizing: border-box;
	min-width: 18%;
	animation: moving 20s linear infinite alternate;
	position: absolute;
}
.moving_text p, .moving_text Strong{
	animation: none!important;
}
.content_box_rubato{
	min-height: 60vh;
	background-image: url("/img/538d329b-0723-403b-a3e4-a79bd4a213d4.jpg");
	position: relative;
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top:100px solid black;
    border-bottom:100px solid black;
    border-left:200px solid black;
    border-right:200px solid black;
    
	
}
.theme_information_rubato{
	padding-left:30px;
	padding-right: 30px;

	max-width: 100vh;
}
.theme_icon_area_rubato{
	    display: flex;
    flex-direction: column;
    align-items: center;
width: 100%;
margin-bottom: 30px;
}
.theme_icon_area_rubato img{
	width: 100%;
	height: 100%;
	background-attachment: fixed;
}
.rubato_title{
	font-size: 50px;
	font-weight: 400;
	}
.rubato_btn_area{
	margin-top: 200px;
}
.rubato_btn_area button{
	border:5px solid black;
	background-color: white;
	color: black;
	font-size: 12px;
	font-weight: 400;
	width: 100px;
	height: 50px;
	font-weight: bold;
}
.rubato_info_area{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
    font-family: 'rubato_title';
}
.bottom_bottom_text{
	font-size: 12px;
}
.hobby_bottom_sector{
	padding:300px;
	padding-bottom: 200px;
	background-image: url('/img/bottom_back.png');
	background-color: rgba(33,33,33,1);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: left top;
	background-attachment: fixed;
	
}
.bottom_content_right{
	padding-top: 30px;
	font-size: 2.5vmin;
	font-weight: bold;
	display: flex;
}
.bottom_content_right button{
	color: white;
	background-color: black;
	font-size: 20px;	
}
.bottom_btn_area{
	padding-top: 190px;
	padding-left: 400px;
}
.bottom_btn_area p{
	font-size: 15px;
	padding: 5px;
	margin:0;
}
.theme_title_area{
	font-size: 25px;
}
.theme_time_area{
	font-weight: bold;
}
.theme_title_area, .theme_time_area{
	font-family: 'nixie-one';
}
	
